

/* 侧边的导航 */
/* .fp-slidesNav ul li{width: 28px}
#fp-nav ul li{margin-bottom: 12px;}
#fp-nav ul li a span, #fp-nav ul li a.active span{background: #999;width: 10px;height: 10px;border-radius: 0;margin: 0;transform: rotate(-45deg) translateX(-50%)}
#fp-nav ul li a.active span{background: #fff} */
.pre-load-con{position: fixed;top: 0;left: 0;bottom: 0;right: 0;z-index: 9999999999;background: #fff;font-size: 100px;}
.process-bar{position: absolute;top:0;left: 0;width: 10%;height: 5px; background: #E83B40;}
.pre-load-con .hello{position: absolute;top:50%;left: 50%;transform: translate(-50%, -50%);line-height: 100px;height: 300px;width: 300px;color: #191F38;font-weight: bold;display: none;text-align: center;}
.pre-load-con .hello p.cover{position: relative;z-index: 99999;height: 100px;background: #fff;}
.pre-load-con .hello .main-num{position: relative;width: 100%;height: 100px;z-index: 999}
.pre-load-con .hello .word-con{position: absolute;top: 0;left: 0%;width: 100%;height: 100%;display: none;}
.pre-load-con .hello .word{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);padding-right: 32px;}
.pre-load-con .hello .word::after{content: '';width: 24px;height: 24px;display: block;position: absolute;bottom: 10px;right: 2px;background: #FF4140;;}
.pre-load-con .process-num{position: absolute;top: 0;left: 0%;width: 100%;height: 100%;color: #191F38;font-weight: bold;}

#fullPage{ z-index: 9; display: none;}
.section{position: relative; width: 100%; max-width: 1920px; margin: 0 auto;height: 100%;box-sizing: border-box;overflow: hidden;}
.section .module-title{color: #191F38;position: relative;z-index: 9999;margin-bottom: 4.63vh;}
.section .module-title p{font-size: 6.1vh; line-height: 6.1vh; }
.section .module-title p:first-child{display: flex;align-items: center;margin-bottom: .4vh;}
.section .module-title p span{font-size: 2.037vh; color: #20263e;line-height: 2.037vh;margin-left: 34px;}
.section .more-p{position: absolute;font-size: 14px; color: #191F38; letter-spacing: 0; line-height: 42px;width: 140px;text-align: center;overflow: hidden;;cursor: pointer;border: 2px solid #191F38;}
.section .more-p a{color: #191F38;display: block;width: 100%;height: 100%;}
.section .more-p i {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #191F38;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: -1;
}
.section .more-p:hover, .section .more-p:hover a{
  color: #fff;
}
.section .more-p:hover i {
  width: 562.5px;
  height: 562.5px;
}
.home .home-main-con{position: relative;z-index: 1;display: flex; padding: 0 96px 0 86px; width: 100%; height: 100%; box-sizing: border-box;overflow: hidden;}
.home .home-main-con.row{margin: 0;}
.home .home-main-con .left-content-con{height: 100%;position: relative}
.home .home-main-con .left-content-con>div{ position: absolute; top: 50%; left: 0; transform: translateY(-50%); }
.home .left-content-con h1{ font-size: 7vh; color: #191F38; letter-spacing: 0; line-height: 9.26vh; margin-bottom: 3.704vh;font-weight: bold ;}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
/* .home .left-content-con h1.typer-target{animation: blink-caret 0.5s step-end infinite alternate; border-right: 2px solid #191F38;} */
.home .left-content-con .text-con-wrapp{padding-top: 21.574vh;width: 100%;}
.home .left-content-con .text-con-wrapp .home-text-con{position: absolute;top: 0;left: 0;width: 100%;}
.home .left-content-con .attention{ font-size: 1.8vh; color: rgba(25,31,56,0.60); letter-spacing: 0; line-height: 1.8vh; opacity: 0;transition: opacity 600ms ease;}
.home .left-content-con .attention.active{opacity: 1;}
.home .right-content-con{position: relative;height: 100%; padding-left: 72px;}
.home .right-content-con img{width: auto; height: 85vh; position: absolute; bottom: 0;}
.home  .mouse{width: 36px;height: 51px;position: absolute; right: 82px; bottom: 48px; z-index: 3; cursor: pointer;animation: upDown 800ms infinite;}
@keyframes upDown{
  0%{bottom: 48px;}
  50%{bottom: 38px;}
  100%{bottom: 48px;}
}
.home  .home-nav-con{display: flex;line-height: 16px;position: absolute;bottom: 76px;left: 46px;z-index: 3;}
.home  .home-nav-con p{position: relative;;padding: 0 10px; margin: 0 30px; font-size: 16px;color: #191F38;opacity: 0.5; cursor: pointer;}

.services .services-con{position: absolute; top: 22%; left: 0; padding-left: 86px; width: 100%; box-sizing: border-box;}
.services .service-list-con{padding-left: 16vw;margin-right: -1.666666667vw;}
.services .service-list-con .service-item{padding: 0 1.666666667vw;}
.services .service-list-con .service-item .img-con{
  position: relative;
  margin-bottom: 8vh;
  cursor: pointer;
}
.services .service-list-con .service-item .img-con>div{
  overflow: hidden;
}
.services .service-list-con .service-item .img-con::after{
  content: '';
  display: block;
  background-color: #EBEEF5;
  position: absolute;
  width: 1px;
  bottom: 0;
  right: 0;
  top: -999999px;
}
.services .service-list-con .service-item img{width: 100%; height: auto;}
.services .service-list-con .service-item .p1{
  font-size: 14px;
  color: #191F38;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: 18px;
  font-weight: bold;
  cursor: pointer;
}
.services .service-list-con .service-item .p2{
  font-size: 14px;
  color: rgba(25,31,56,0.40);
  letter-spacing: 0;
  line-height: 24px;
}

.work .work-con{position: absolute; top: 22%; left: 0; width: 100%; box-sizing: border-box;padding-left: 86px;padding-right: 86px;}
.work .work-con .module-title{margin-bottom: 14vh;position: relative;z-index: 9;}
.work .work-list-con{position: relative;z-index: 99;}
.work-list-wrap{position: relative; z-index: 99;width: 100%;}
.work .work-list-con .work-item{position: relative; cursor: pointer;}
.work .work-list-con .work-item.active .img-con{position: absolute;z-index: 9;left: 15px;right: 20px;top: 20%;transform: translateY(-54%);height: 77vh;animation: fadeIN 300ms ease;}
@keyframes fadeIN{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
.work .work-list-con .work-item .text-con{position: relative;z-index: 99;transform: translateY(0);padding: 0 32px;}
.work .work-list-con .work-item.active .text-con{transform: translateY(40%);}
.work .work-list-con .work-item.active .text-con .p1, .work .work-list-con .work-item.active .text-con .desc{color: #fff;}
.work .work-list-con .work-item .p1{position: relative;font-weight: bold;z-index: 99;font-size: 14px; color: #191F38;line-height: 14px;padding: 0 0 32px 0;margin-bottom: 64px;}
.work .work-list-con .work-item .p1::after{content: '';display: block;width: 30px;height: 1px;background: #E4E7ED;position: absolute;z-index: 99;left: 0;bottom: 0;}
.work .work-list-con .work-item .desc{font-size: 14px; color: rgba(25,31,56,0.40);line-height: 14px;position: relative;z-index: 99;line-height: 30px;}
.work .more-p{position: absolute;right: 82px;bottom: 5.7vh;}

.news .news-con{position: absolute; top: 22%; left: 0; width: 100%; box-sizing: border-box;padding: 0 86px;}
.news .news-list-con .news-item{cursor: pointer;}
.news .news-list-con .news-item:hover i{width: 100%;}
.news .news-list-con .news-item .img-con{
  position: relative;
  margin-bottom: 5.6vh;
  cursor: pointer;
}
.news .news-list-con .news-item .img-con>div{
  overflow: hidden;
}
.news .news-list-con .news-item img{width: 100%; height: auto;}
.news .news-list-con .news-item .p1{font-size: 18px; color: #191F38; line-height: 18px;margin-bottom: 2.222vh;font-weight: bold;}
.news .news-list-con .news-item .p2{font-size: 14px; color: rgba(25,31,56,0.40); line-height: 24px}
.news .news-list-con .news-item i{display: block;height: 1px;width: 0;position: relative;top: 6vh;background: #EBEEF5;transition: all 500ms ease;}
.news .more-p{position: absolute;right: 82px;bottom: 5.7vh;}

.contact .contact-con{position: absolute; top: 22%; left: 0; width: 100%; box-sizing: border-box;padding: 0 86px}
.contact .module-title{margin-bottom: 12vh;}
.contact .font{font-size: 16px; color: rgba(25,31,56,0.40); line-height: 16px;}
.contact .contact-con input, .contact .contact-con textarea{display: block;width: 100%;border: none;outline: none;margin-bottom: 3vh;border-bottom: 1px solid #EBEEF5;line-height: 56px;}
.contact .sumbit_btn{position: relative;;box-sizing: border-box;border: 2px solid #191F38;height: 60px;line-height: 60px;text-align: center;cursor: pointer;overflow: hidden;color: #191F38;}
.contact .sumbit_btn i {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #191F38;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: -1;
}
.contact .sumbit_btn:hover{color: #fff;}
.contact .sumbit_btn:hover i{
  width: 2000px;
  height: 2000px;
}
.contact .copyright{position: absolute;bottom: 0;left: 0;}

@media(max-width: 768px) {
  .contact .sumbit_btn:hover{color: #191F38;}
  .pre-load-con{font-size: 1rem;}
  .pre-load-con .hello{line-height: 1rem;height: 3rem;}
  .pre-load-con .hello .word{padding-right: .4rem}
  .pre-load-con .hello .word::after{width: .25rem;height: .25rem;bottom: .1rem;}
  .pre-load-con .hello p.cover{height: 1rem;}
  .pre-load-con .hello .main-num{height: 1rem;text-align: center;}

  .section .module-title p span{font-size: 3.037vh; line-height: 3.037vh;}
  
  .contact-us{position: absolute;bottom: .86rem;left: .68rem;z-index: 3;font-size: .28rem;line-height: .28rem;font-weight: bold;}

  .section .module-title{top: 0 !important;}
  .section .module-title p{line-height: 0.92rem;font-size: .88rem;}
  .section .module-title p span{margin-left: .34rem;}
  .section .services-con, .section .work-con, .section .news-con, .section .contact-con{top: 2.05rem;padding-left: .4rem;padding-right: 0;}
  .section .more-p-m{position: absolute;left: 50%;transform: translateX(-50%);bottom: .64rem;border: .5px solid #191F38;text-align: center;width: 6.4rem; height: .96rem;line-height: .96rem;font-size: .28rem;}
  .section .more-p-m a{color: #191F38;display: block;}

  .home  .home-main-con{padding: 0 .68rem;}
  .home .left-content-con .text-con-wrapp{padding-top: ;position: relative;}
  .home .left-content-con h1{font-size: .81rem;line-height: 1.2rem;font-weight:700}
  .home .left-content-con .attention{font-size: .32rem; line-height: .42rem; font-size: .28rem;}
  .home .home-main-con .left-content-con>div{top: 2.4rem;transform: translateY(0);}
  .home  .mouse{width: .36rem;height: auto; right: .4rem; bottom: .86rem;}

  .services .services-con .module-title{margin-bottom: 1.2rem;}
  .services .service-list-wrap{width: 100%; margin: 0;overflow-x: auto; display: -webkit-box; -webkit-overflow-scrolling: touch;}
  .services .service-list-con{padding-left: 0;margin: 0;width: 100%;}
  .services .service-list-con .service-item{width: 4.8rem;padding: 0 .48rem 0 0;flex-shrink: 0;}
  .services .service-list-con .service-item img{margin-bottom: .8rem;border-radius: .2rem;}
  .services .service-list-con .service-item .p1{font-size: .32rem;line-height: .32rem;margin-bottom: .38rem;}
  .services .service-list-con .service-item .p2{line-height: .48rem;font-size: .28rem;}

  .work .work-con .module-title{margin: 0 0 1.69rem 0;}
  .work .work-list-con{width: 100%;}
  .work .work-list-con .home-main-con{width: auto;}
  .work .work-list-con .work-item img{border-radius: .2rem;width: 4.8rem;height: auto;}
  .work .work-list-con .home-main-con{margin-right: 24px;}
  .work .work-list-con .work-item .p1-m{font-size: .32rem; color: #191F38;line-height: .32rem;margin-top: .8rem;font-weight: bold;}

  .news .module-title{margin-bottom: 1.64rem;}
  .news .news-con{padding: 0 .4rem;}
  .news .news-list-con{overflow-x: auto;}
  .news .news-list-con .news-item img{border-radius: .2rem;}
  .news .news-list-con .news-item .p1{font-size: .32rem;margin-bottom: .38rem;}
  .news .news-list-con .news-item .p2{font-size: .28rem;line-height: .48rem;display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden;}

  .contact .module-title{margin-bottom: .54rem;}
  .contact .font{font-size: .2rem;line-height: .28rem;}
  .contact .contact-con{padding-right: .4rem;}
  .contact .contact-con input, .contact .contact-con textarea{line-height: .8rem;font-size: .24rem;margin-bottom: .08rem;}
}
